table{
    border: 1px solid #000000;

}
td{
    border: 1px solid #000000;
    padding-left: 5px;
}
tr{
    border: 1px solid #000000;
}
th{
    border: 1px solid #000000;
}
.bold{
    font-weight: bold;
    text-align:center;
}
.result{
    width:400px;
    text-align:left;
    padding-right:5px;
    border: 1px solid #000000;
}
tfoot{
    text-align:right;
}